.animation-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.animation-controls {
    display: flex;
    flex-direction: row;
    height: 4em;
    width: 100%;
    padding: .5em;
    border: 1px solid #0c1618ff;
}

.animations-button {
    margin-right: 1em;
}

.animations-container {
    position: relative;
    width: 800px;
    height: 445px;
    margin: 1em auto;
    border: 1px solid #0c1618ff;
    overflow: hidden;
}

.animation-mover {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #896978ff;
    top: 5px;
    left: 5px;
}

@keyframes move-block {
    from {
        top: 5px;
        left: 5px;
    }

    50% {
        top: 400px;
        left: 385px;
    }

    to {
        top: 5px;
        left: 745px;
    }
}

@keyframes change-shape {
    from {
        border-radius: 0;
    }

    to {
        border-radius: 50%;
    }
}

@keyframes change-size {
    from {
        height: 40px;
        width: 40px;
    }

    to {
        height: 80px;
        width: 80px;
    }
}

@keyframes change-color {
    from {
        background-color: #896978;
    }

    25% {
        background-color: #faf4d3;
    }

    75% {
        background-color: #007A74;
    }

    to {
        background-color: #48beff;
    }
}
