* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    color: #0c1618ff;
}

.app-button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #007A74;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.app-button:hover,
.app-button:focus {
    background: #66afab;
}

.app-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.app-button:active {
    transform: scale(0.99);
}

.container, .app-container {
    width: 80%;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 1em 0;
}

.header > .container {
    padding-bottom: .5em;
    border-bottom: 1px solid black;
}

.app {
    width: 100%;
}

.app-select-wrapper {
    margin-bottom: 1.5em;
}

.app-select-wrapper > label {
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
}

.app-select {
    height: 32px;
    min-width: 15em;
    font-size: 1em;
    padding: 0 .25em;
}

.app-button.active {
    background-color: #896978ff;
}

.app-button.active:hover,
.app-button.active:focus {
    background: #34282E;
}
